* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
<<<<<<< HEAD
  background-color: #010038;
=======
    font-family: sans-serif;
    text-align: center;
}
body {
    background-color: rgb(5, 5, 76);
>>>>>>> origin/FixAll2
}