.text-dafatar{
    color: rgb(63, 160, 239);
}
.text-white{
    color: #fff;
}
.text-username{
    margin-top: 10px;
}
.text-email{
    margin-top: 10px;
}
.text-password{
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-confirmpassword{
    margin-top: 10px;
}